.appwrapper {
  width: 100%;
  height: 100%;
  background-color: #2d3439;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.leftwrapper {
  /* background-color: blue; */
  height: 100%;
  width: 35%;
}

.rightwrapper {
  /* background-color: green; */
  height: 100%;
  width: 65%;
}
