/* 3 */

.citiescontainer {
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: repeat(2, 200px);
  gap: 5px;
  background-color: #42484d;
  /* background-color: blue; */
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.iconcitiesname {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: red; */
  width: 200px;
}

.citiescontainer p {
  font-family: "Roboto Mono", serif;
  font-size: 12px;
  font-weight: 600;
  color: white;
  text-align: left;
}

.datebuttonname {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: red; */
  width: 190px;
}
.datebuttonname p {
  font-family: "Roboto Mono", serif;
  font-size: 12px;
  font-weight: 800;
  color: white;
}

.datebuttonname button {
  background: none;
  border: none;
  cursor: pointer;
  font-family: "Roboto Mono", serif;
  font-size: 12px;
  font-weight: 400;
  color: white;
}

.datebuttonname button:hover {
  scale: 1.25;
}
