.citiesitemwrapper {
  width: 500px;
  height: 100%;
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  /* background-color: blue; */
}
::-webkit-scrollbar {
  display: none;
}

.citiesError {
  position: absolute;
  top: 280px;
  color: red;
  height: 100%;
  width: 100%;
  text-align: center;
  color: white;
  font-family: "Roboto Mono", serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: white;
}
