.productwrapper {
  width: 100%;
  height: 100%;
  background-color: #2d3439;
}

.contentwrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.leftwrapper {
  width: 415px;
  height: 415px;
}

.leftwrapper img {
  width: 100%;
  height: 100%;
}

.rightwrapper {
  text-align: left;
}
.rightwrapper h2 {
  font-family: "Roboto Mono", serif;
  font-size: 40px;
  font-weight: 700;
  font-style: normal;
  color: white;
  padding: 20px;
  line-height: 72px;
  background: none;
  border: none;
}

.rightwrapper p {
  font-family: "Roboto Mono", serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: white;
  padding: 20px;
  background: none;
  border: none;
}
